<div class="container">
  <h2 class="text-center my-5">山編集</h2>
  <div class="row">
    <div class="col-8 offset-2 mb-5">
      
      <% if @mountain.errors.any? %>
        <div class="text-danger" role="alert">
          <%= @mountain.errors.count %>件のエラーが発生しました
          <ul>
            <% @mountain.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <%= form_with model: @mountain, local: true do |f| %>
      
      <table>
        <tr>
          <div class="form-group">
            <%= f.label :山の名前, class:"form_label" %>
            <%= f.text_field :mountain_name, placeholder:"名前",class:"form-control mb-3" %>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <%= f.label :山の説明, class:"form_label" %>
            <%= f.text_area :mountain_body, size: "50x5", placeholder:"ここに説明文を記述します",class:"form-control form-control-lg mb-3" %>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <%= f.label :住所, class:"form_label" %>
            <%= f.text_area :address, size: "50x5", placeholder:"ここに説明文を記述します",class:"form-control form-control-lg mb-3" %>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <%= f.label :画像の選択, class:"form_label"%>
            <%= f.attachment_field :mountain_image,class:"mb-3 ml-3"%>
          </div>
        </tr>
        </tr>
        <tr>
        <div class="form-action d-flex justify-content-around">
          <%= f.submit "変更を保存", class:"btn btn-success" %>
          <%= link_to "山詳細へ戻る",mountain_path, class:"btn btn-outline-secondary" %>
        </div>
        </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>