<div class="texts-wrapper">
   <div class="contents-title text-center">
     <h3>山一覧</h3>
     <div class="row">
       <% @mountains.each do |mountain| %>
         <div class="col-12 col-md-6 col-lg-4">
           <div class="card">
             <div>
                <%= link_to mountain_path(mountain) do %>
                <%= attachment_image_tag mountain, :mountain_image, fallback: "no-image.jpg",class:"card-img-top index-img" %>
                <% end %>
             </div>
             <p class="mountain-index-user-name">
                <i class="fas fa-user-circle"></i>
                <%= mountain.user.name %>
             </p>
               <div class="card-body">
                 <p class="card-title text-center">
                   <%= mountain.mountain_name %>
                 </p>
                 <p class="card-text">
                   <%= mountain.mountain_body.truncate(30) %>
                 </p>
                 <p class="card-text">
                    <time>
                      <%= mountain.updated_at.strftime("%Y-%m-%d %H:%M") %>
                    </time>
                 </p>
               </div>
           </div>
         </div>
       <% end %>
     </div>
   </div>
 </div>

 <div class="mountain-index-pagination">
    <%= paginate @mountains %>
 </div>