<div class="texts-wrapper">
   <div class="contents-title text-center">
     <hr class="border-line"/>
      <h2 class="text-center">山詳細</h2>
     <hr class="border-line"/>
     <div class="row">
         <div class="col-12">
           <div class="card card-show">
             <div>
               <%= attachment_image_tag @mountain, :mountain_image, fallback: "no_image.jpg",class:"card-img-top show-img" %>
             </div>
             <p class="post-index-user text-left pl-3">
               <span class="text-left">
                  <i class="fas fa-user-circle"></i>
                  <%= @mountain.user.name %>
              </p>    
               <div class="card-body">
                 <h3 class="card-title text-center">
                    <%= @mountain.mountain_name %>
                 </h3>
                 <p class="card-text">
                   <%= simple_format @mountain.mountain_body %>
                 </p>
                 <p class="card-text">
                    <time>
                      <%= @mountain.updated_at.strftime("%Y-%m-%d %H:%M") %>
                    </time>
                 </p>
               </div>
           </div>

           <h2>map</h2>
           <h5>住所：<%= @mountain.address %></h5>
            <div id="map" class="mx-auto"></div>
            <style>
                 #map {
                 height: 500px;
                 width: 70%;
                }
            </style>
            <script>
              function initMap() {
               var uluru = {lat: <%= @mountain.latitude %>, lng: <%= @mountain.longitude %>};
                //var uluru = {lat: 40.7828, lng: -73.9653};
                var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: uluru
                });
                var marker = new google.maps.Marker({
                  position: uluru,
                  map: map
                });
                marker.addListener('click', function() {
                infowindow.open(map, marker);
        　       });
                   }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=<%=  ENV['API_KEY'] %>&callback=initMap"async defer></script>
            <div class="post-show-post-edit">
              <% if @mountain.user.id == current_user.id %>
                <%= link_to "編集", edit_mountain_path(@mountain), class: "btn btn-sm btn-default edit_post_#{@mountain.id}" %>
                <%= link_to '削除', mountain_path(@mountain), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-default destroy_post_#{@mountain.id}"%>
              <% end %>
            </div>
         </div>
     </div>
   </div>
 </div>












