<div class="container my-5">
  <div class="row">
    <div class="col-6 offset-3">
      <%#= render "devise/shared/error_messages", resource: resource %>
      <div class="card ">
        <article class="card-body text-center">
          <h3 class="card-title mb-4 mt-1">ログイン</h3>
          <hr>
          <div class="form-group">
          <%= form_with model:@user ,url:user_session_path, locla: true do |f| %>

            <div class="field mb-2 text-center">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
            </div>

            <div class="field mb-2">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field mb-2">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>

            <div class="actions ">
              <%= f.submit "ログイン" %>
            </div>
          <% end %>
          </div>
          <p class="text-center pt-3">登録がまだの方</p>
              <span><%= link_to 'こちら', new_user_registration_path %>から新規登録してください。</span>
        </article>
      </div>
    </div>
  </div>
</div>