<div class="container">
  <h2 class="text-center">投稿詳細</h2>

  <div class="row post-show-post-all-box">
    <div class="post-show-user-other">
      <%= render 'users/other', user: @user %>
    </div>
    <hr class="border-line"/>

    <div class="row post-show-post-username">
      <h3><%= @post.user.name %>さんの投稿</h3>

    </div>

    <div class="row post-show-post-box">


        <div class="post-show-post-title">
          <%= @post.title %>
        </div>

        <div class="post-show-post-body">
          <%= simple_format @post.body %>
        </div>

        <div class="post-show-post-image-box">
         <div class="post-show-post-image">
          <%= attachment_image_tag @post, :image, fallback: "no_image.jpg", class: "show-post-image",size: "300x300" %>
         </div>
        </div>
        <div class="post-show-post-edit">
        <% if @post.user.id == current_user.id %>
          <%= link_to "編集", edit_post_path(@post), class: "btn btn-sm btn-default edit_post_#{@post.id}" %>
          <%= link_to '削除', post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-default destroy_post_#{@post.id}"%>
        <% end %>
        </div>

    </div>
  </div>
</div>